.card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
}

.successMessage {
  text-align: center;
  margin-bottom: 1rem;
}

.successText {
  font-size: 0.875rem;
  color: var(--color-gray);
}

.linkWrapper {
  margin-bottom: 1rem;
}

.link {
  color: var(--color-blue-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  color: var(--color-red-warn);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}